@import url('https://fonts.googleapis.com/css2?family=Chivo+Mono:wght@500&family=Lato:wght@700&family=Rubik:wght@600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*nvigantion css*/
#header{
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 100;
}
.main-nav .navbar-brand{
    font-family: 'Moon Dance', cursive;
}
.main-nav .nav-item
{
  margin-left: 1rem;
} 
.main-nav .nav-link
 {
    font-size: 1.1rem;
    color: black;
 }
 .main-nav .nav-link:hover{
    color:slateblue;
 }
/*home banner css*/
.home .carousel-inner img{
    width: 100%;
    height: 90vh;
}
/*about css*/
.about .accordion-item .accordion-header button{
   color: slateblue;
}

/*services css*/
.service{
    background-color: azure;
}
.service .card-body{
    padding: 15px 10px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    
}
.service .card-body i{
   color: blue;
   margin-bottom: 10px;
}
/*our team css*/
 .our-team .card .card-body img{
    width: 40%;
    border-radius: 50%;
    padding: 2px;
    border: 2px solid blueviolet;
 }
 /*contact css*/
 .contact .form-box form label{
    font-weight: 500;
 }
 .contact .form-box form button{
    font-weight: 500;
 }
 /*custome css*/
h2{
    font-family: 'Dancing Script', cursive;

}
h3{
    font-family: 'Moon Dance', cursive;


}
p{
     margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
}